<!--
  Generated template for the EditchamadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Chamado {{ id }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="editchamadoForm" (ngSubmit)="editChamado(); $event.preventDefault()">
    
    <ion-item class="usuarioAbertura">
      <ion-input type="text" formControlName="id" value="{{id}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Titulo</ion-label>
      <ion-input type="text" value="{{titulo}}" formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Categoria</ion-label>
      <ion-select formControlName="categoria">
        <ion-option value="TI">TI</ion-option>
        <ion-option value="Manutenção">Manutenção</ion-option>
        <ion-option value="Governança">Governança</ion-option>
        <ion-option value="Gerencia">Gerencia</ion-option>
        <ion-option value="Administração">Administração</ion-option>
        <ion-option value="Restaurante">Restaurante</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Prioridade</ion-label>
      <ion-select formControlName="prioridade">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao" value="{{descricao}}"></ion-textarea>
    </ion-item>

    <ion-item class="usuarioAbertura">
      <ion-input type="text" formControlName="email" value="{{email}}"></ion-input>
    </ion-item>

    <button ion-button type="submit" color="light" [disabled]="editchamadoForm.invalid" block>Registrar</button>



  </form>

</ion-content>