<ion-header>

</ion-header>


<ion-content class="content-login" padding>
  
  <br/><br/><br/>
  
  <ion-img class="logo" src="../../assets/images/logo-fg.png"></ion-img>

  <br/><br/><br/>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
    </ion-item>

    <br>

    <button ion-button type="submit" color="light" [disabled]="loginForm.invalid" block>Entrar</button>

  </form>

  <button ion-button full clear text-center (click)="onRegistrar()">Criar Registro</button>

  <button ion-button full clear text-center (click)="onHomePage()">Pagina Home</button>

  <button ion-button full clear text-center (click)="onLogout()">Logout</button>
</ion-content>