page-home {
  
}
.content-home{
    background-color: #fff;
}
.ion-fab{
    background-color: #565656;
}

.ion-fab-sub{
    background-color: #565656;
    color: #fff;
}

.log-out{
    font-size: 1.7em;
    float: right;
    color: blue;
}