<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>Meus Chamados</ion-title>
    <ion-icon name="log-out" class="log-out" end (click)="onLogout()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-home">
    <ion-card (ionRefresh)="doRefresh($event)" *ngFor="let listChamado of listChamados" (click)="editChamado(listChamado.id, listChamado.titulo, listChamado.categoria, listChamado.prioridade, listChamado.descricao)">
        <ion-card-header>
            {{ listChamado.titulo }}
        </ion-card-header>
        <ion-card-content>
            {{ listChamado.descricao }}
        </ion-card-content>
      </ion-card>
  <ion-fab bottom right>
    <button ion-fab class="ion-fab"><img src="../../assets/images/icone-g.png"></button>
    <ion-fab-list side="top">
      <button ion-fab class="ion-fab-sub" (click)="addChamado()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab class="ion-fab-sub"><ion-icon name="filing"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>