<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Chamado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="chamadoForm" (ngSubmit)="onChamado(); $event.preventDefault()">

    <ion-item>
      <ion-label color="primary" floating>Titulo</ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Categoria</ion-label>
      <ion-select formControlName="categoria">
        <ion-option value="TI">TI</ion-option>
        <ion-option value="Manutenção">Manutenção</ion-option>
        <ion-option value="Governança">Governança</ion-option>
        <ion-option value="Gerencia">Gerencia</ion-option>
        <ion-option value="Administração">Administração</ion-option>
        <ion-option value="Restaurante">Restaurante</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Prioridade</ion-label>
      <ion-select formControlName="prioridade">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao"></ion-textarea>
    </ion-item>

    <ion-item class="usuarioAbertura">
      <ion-input type="text" formControlName="email" value="{{email}}"></ion-input>
    </ion-item>

    <ion-item class="usuarioAbertura">
      <ion-input type="text" formControlName="status" value="aberto"></ion-input>
    </ion-item>

    <button ion-button type="submit" color="light" [disabled]="chamadoForm.invalid" block>Registrar</button>

  </form>

</ion-content>