<ion-header>

  <ion-navbar>
    <ion-title>Registrar Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-registrar">
  <h1 text-center>
    <ion-icon name="person-add" color="light"></ion-icon>
  </h1>

  <form [formGroup]="registrarForm" (ngSubmit)="onRegistrar(); $event.preventDefault()">

    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="contact" item-left></ion-icon>
      <ion-input type="text" placeholder="Cargo" formControlName="cargo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="people" item-left></ion-icon>
      <ion-select placeholder="Setor" formControlName="setor">
        <ion-option value="TI">TI</ion-option>
        <ion-option value="Manutenção">Manutenção</ion-option>
        <ion-option value="Governança">Governança</ion-option>
        <ion-option value="Gerencia">Gerencia</ion-option>
        <ion-option value="Administração">Administração</ion-option>
        <ion-option value="Restaurante">Restaurante</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
    </ion-item>

    <br>

    <button ion-button type="submit" color="light" [disabled]="registrarForm.invalid" block>Registrar</button>

  </form>
</ion-content>